<!DOCTYPE html>
<html lang="ja">
<head>
<title>都内のイベント情報</title>
<meta charset="utf-8">
<meta name="description" content="直近の都内の情報まとめ">
<meta name="keywords" content="東京,イベント">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta content="telephone=no" name="format-detection">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div id="app"></div>
</body>
</html>