.user {
  display: flex;
  align-items: center;

  p {
    display: flex;
    align-items: center;
  }
}

.button {
  -webkit-appearance: none;
  border: 1px solid #909090;
  display: block;
  height: 30px;
  border-radius: 4px;
  font-family: helvetica, arial;
  margin-left: 12px;
}

